$item-border: 3px;

.main-nav {
  width: 100%;
  color: $text;

  &__list {
    list-style: none;
    width: 100%;
    background-color: $background;
    $color: $text;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.9em;
    line-height: 1.2;
    flex: 1 0 7em;
    text-align: center;
    text-decoration: none;
  }
  
  &__icon {
    display: inline-block;
    vertical-align: middle;
    
    &.fa { vertical-align: middle; }
  }
  
  &__text { vertical-align: middle; }
  
  &__link {
    width: 100%;
    display: inline-block;
    color: $text;
    text-decoration: none;
    border-bottom: $item-border solid transparent;
    padding: {
      top: 0.5em;
      bottom: 0.5em;
    }
    
    &:hover {
      color: $word-pink;
      border-bottom-color: $word-pink;
      background-image: linear-gradient(to top, $space-pink 0%, transparent 60%);
    }
    
    &--current {
      color: $word-pink;
    }

    &--home {}
    &--about {}
    &--archive {}
    &--support {}
    &--feed {}
    &--twitter {}
  }
}

@media (min-width: 600px) and (min-height: 600px) {
  .main-nav {
    &__item {
      font-size: 1em;
      line-height: 2;
    }
  }
}
