$item-border: 3px;

.main-nav {
  width: 100%;
  color: $text;

  &__list {
    list-style: none;
    width: 100%;
    background-color: $background;
    $color: $text;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    display: inline-block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 2;
    flex: 1 0 7em;
    text-align: center;
    text-decoration: none;
  }
  
  &__icon {
    display: inline-block;
    vertical-align: middle;
    
    &.fa { vertical-align: middle; }
    
    &--home {
      height: 2em;
      width: 2em;
    }
  }
  
  &__text { vertical-align: middle; }
  
  &__link {
    width: 100%;
    display: inline-block;
    color: $text;
    text-decoration: none;
    border-bottom: $item-border solid transparent;
    padding: {
      top: 0.5em;
      bottom: 0.5em;
    }
    
    &:hover {
      color: $word-pink;
      border-bottom-color: $word-pink;
    }

    &--current {
      color: $word-pink;
    }

    &--home {}
    &--about {}
    &--archive {}
    &--support {}
    &--feed {}
    &--twitter {}
  }
}
