.podcast {
  @extend %content;
  padding: {
    left: $fsp;
    right: $fsp;
  }
  
  &__audio {
    width: 100%;
    padding: {
      $vertical: 0.4em;
      top: $vertical;
      bottom: $vertical;
    }
  }
  
  &__metadata {
    font-size: $fs-small;
    text-align: center;
    margin-bottom: 1;
  }

  &__metadata-item { display: inline-block; }
  
  &__notes {
    h2 {
      font-family: $title-stack;
      text-align: center;
    }
    
    img {
      padding: {
        top: $fsp;
        bottom: $fsp;
      }
    }
  }
  
  &__subtitle {
    text-align: center; 
    font-style: italic;
    margin-bottom: $fsp;
  }

  &__title {
    text-align: center;
    font: {
      family: $title-stack;
      size: $fs3;
    }
    margin-bottom: 0.4em;
  }
  
  a { @extend %content-link; }
  
  &__notes {}
}

@media (min-width: 600px) and (min-height: 600px) {
  .podcast {
    @extend %expanded-content-margin;
    
    &__audio {
      padding: {
        $vertical: 1em;
        top: $vertical;
        bottom: $vertical;
      }
    }
  }
}
