.podcast {
  @include content;
  
  a { @include content-link; }
  
  &__audio {
    width: 100%;
    $vertical: 0.4em;
    padding: {
      top: $vertical;
      bottom: $vertical;
    }
  }
  
  &__link,
  a#{&}__link {
    &--title { display: block; }
  }
  
  &__metadata {
    font-size: $fs-small;
    text-align: center;
    margin-bottom: 1;
  }

  &__metadata-item { display: inline-block; }
  
  &__notes { @include content-inner; }
  
  &__subtitle {
    text-align: center; 
    font-style: italic;
    margin-bottom: $fsp;
  }

  &__title { @include item-title; }
  
  &__notes {}
}

@media (min-width: 600px) and (min-height: 600px) {
  .podcast {
    @include expanded-content-margin;
    
    &__audio {
      $vertical: 1em;
      padding: {
        top: $vertical;
        bottom: $vertical;
      }
    }
  }
}
