@mixin content-link {
  display: inline-block;
  text-decoration: none;
  color: $word-pink;
  border-bottom: 1px solid $text;
  margin-bottom: 1px;
  
  &:hover,
  &:active {
    color: $text;
    border-bottom: {
      width: 2px;
      color: $word-pink;
    }
    margin-bottom: 0;
    background-image: linear-gradient(to top, $space-pink 0%, transparent 100%);
  }
}

@mixin content {
  margin: {
    top: $fsp;
    left: auto;
    right: auto;
    bottom: $fsp;
  }
  padding: $fsp $fsp $fs1;
  line-height: $lh;
  max-width: 48rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: $text;
  background: $background;
}

@mixin content-inner {
  padding-top: $fsp;
  
  & > * {
    max-width: 38rem;
    margin: { left: auto; right: auto; }
    padding: { left: $fsp; right: $fsp; }
  }
  
  h2 {
    font: {
      family: $title-stack;
      size: $fs4;
    }
    text-align: center;
    line-height: $lh;
    margin-bottom: 0.4em;
  }
  
  img {
    padding: {
      top: $fsp;
      bottom: $fsp;
    }
  }
  
  ul {
    padding-left: $fsp;
    margin: {
      top: 0.4em;
      bottom: 0.4em;
    }
    list-style: disc;
  }
  
  li {
    margin-bottom: 0.4em;
  }
  
  p {
    margin: {
      top: $fsp;
      bottom: $fsp;
    }
  }
}

@mixin item-title {
  text-align: center;
  font: {
    family: $title-stack;
    size: $fs3;
  }
  margin-bottom: 0.4em;
}

@mixin expanded-content-margin {
  margin: {
    top: $fs1 + $fsp;
    bottom: $fs1;
  }  
}
