@font-face {
    font-family: 'Slider-Regular';
    src:url('/fonts/Slider-Regular.ttf.woff') format('woff'),
        url('/fonts/Slider-Regular.ttf.svg#Slider-Regular') format('svg'),
        url('/fonts/Slider-Regular.ttf.eot'),
        url('/fonts/Slider-Regular.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

$title-stack: 'Slider-Regular', sans-serif;
$text-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$lh: 1.4;
$lh-s: 1.2;
$lh-l: 2;

$fsp: 1em;
$fs6: $fsp;
$fs5: 1.1em;
$fs4: 1.2em;
$fs3: 1.3em;
$fs2: 1.5em;
$fs1: 1.8em;
$fs-small: 0.9em;
