/**
* Mass Affection theme.
*/

@import 'reset';
@import 'colors';
@import 'typography';

html {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: $space;
}

body {}

img {
  max-width: 100%;
}

@import 'helpers/content';

@import 'components/colophon';
@import 'components/main-nav';
@import 'components/page';
@import 'components/podcast';
@import 'components/podcast-list';
@import 'components/site-header';
@import 'components/stars';
