/**
* Mass Affection theme.
*/

html {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background: #000;
}

.content {
  margin: { left: auto; right: auto; }
  max-width: 48rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: hsla(0, 0%, 20%, 0.25);
}

@import "main-nav";
@import "podcast";
@import "site-header";
@import "stars";
