<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}
    {{SITENAME}}
  {% endblock %}</title>

  {% block meta %}
  <meta property="og:url" content="{{ SITEURL }}" />
  <meta property="og:title" content="{{ SITENAME }}" />
  <meta property="og:description" content="{{ SITE_DESCRIPTION }}" />
  <meta property="og:image" content="{{ LOGO }}" />
  <meta property="og:type" content="website" />
  {% endblock %}

  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <link href="/favicon.png" type="image/png" rel="icon">
  <link href="/favicon.ico" type="image/ico" rel="icon">

  {# CSS #}
  <link rel="stylesheet" type="text/css" href="/style.css" charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

  <div class='stars'>
    {% for n in range(1000) %}
      <div class='stars__star'></div>
    {% endfor %}
  </div>

  <nav class='main-nav'>
    <ul class='main-nav__list'>
      {# TODO: use logo for Home, only show it when header out of sight #}
      <li class='main-nav__item main-nav__item--home main-nav__item--current'>
        <a href='/' class='main-nav__link main-nav__link--current'>
          <img src='http://cdn.massaffection.com/cover.jpg' class='main-nav__icon main-nav__icon--home'/>
          <span class='main-nav__text main-nav__text--home'>Home</span>
        </a>
      </li>
      <li class='main-nav__item main-nav__item--about'>
        <a href='/about/' class='main-nav__link'>
          <i class='fa fa-fw fa-user main-nav__icon'></i>
          <span class='main-nav__text'>About</span>
        </a>
      </li>
      <li class='main-nav__item main-nav__item--support'>
        <a href='https://patreon.com/massaffection' class='main-nav__link'>
          <i class='fa fa-fw fa-dollar main-nav__icon'></i>
          <span class='main-nav__text'>Support</span>
        </a>
      </li>
      <li class='main-nav__item main-nav__item--feed'>
        <a href='/feed.xml' class='main-nav__link'>
          <i class='fa fa-fw fa-rss main-nav__icon'></i>
          <span class='main-nav__text'>Feed</span>
        </a>
      </li>
      <li class='main-nav__item main-nav__item--twitter'>
        <a href='https://twitter.com/mass_affection' class='main-nav__link'>
          <i class='fa fa-fw fa-twitter main-nav__icon'></i>
          <span class='main-nav__text'>Twitter</span>
        </a>
      </li>
    </ul>

  </nav>

  <div class='content'>
    <header class='site-header'>
    <!-- TODO: generate srcset images, set them correctly -->
      <h1 class='site-header__site-name'>
        <img
          src='http://cdn.massaffection.com/cover-small.jpg'
          srcset='http://cdn.massaffection.com/cover-medium.jpg 400w, http://cdn.massaffection.com/cover.jpg'
          alt='Mass Affection'
          title='Mass Affection'
          class='site-header__image' />
      </h1>
      <h2 class='site-header__subtitle'>
        <span class='site-header__description site-header__description--first'>
          Chris and Jaimie Krycho play <cite>Mass Effect</cite>.
        </span>
        <span class='site-header__description site-header__description--second'>
          Romance and hilarities ensue.
        </span>
      </h2>
    </header>

    {% block content %}{% endblock %}
  </div>
  <footer>
    <ul class="plain_list colophon_list">
      <li>
        Landing page design by <a href="//www.chriskrycho.com">Chris Krycho</a>.
      </li>
      <li>
        All content licensed under a Creative Commons Attribution license: do
        whatever you like with this; just credit me!
      </li>
    </ul>
  </footer>
</body>
</html>
