<a class='podcast__link podcast__link--permalink podcast__link--title' href='{{SITEURL}}/{{article.url}}'>
  <h1 class='podcast__title'>
    {% include 'helpers/article_title.html' %}
  </h1>
</a>

<audio title={{article.title}} class='podcast__audio' controls preload='metadata'>
  <source src={% include 'helpers/audio.html' %}>
</audio>

<h2 class='podcast__subtitle'>{{article.description}}</h2>

<div class='podcast__metadata'>
  <span class='podcast__metadata-item podcast__metadata-item--date'>
    Published: <a class='podcast__link podcast__link--permalink' href='/{{article.url}}'>{{article.locale_date}}</a>
  </span>
  <span class='podcast__metadata-item podcast__metadata-item--category'>
    Game: <a class='podcast__link podcast__link--game' href='/mass-effect/'>Mass Effect</a>
  </span>
</div>
