<header class='site-header'>
  <h1 class='site-header__site-name'>
    <a href='/' class='site-header__home-link'>
      <img
        src='{{LOGO_URL}}'
        srcset='
          {{CDN_URL}}/cover-100-2x.jpg 200w, 
          {{CDN_URL}}/cover-200-2x.jpg 400w,
          {{CDN_URL}}/cover-400-2x.jpg 800w,
          {{CDN_URL}}/cover-800-2x.jpg 1600w,
          {{CDN_URL}}/cover.jpg'
        alt='Mass Affection'
        title='Mass Affection'
        class='site-header__image' />
      </a>
  </h1>
  <h2 class='site-header__subtitle'>
    <span class='site-header__description site-header__description--first'>
      Chris and Jaimie Krycho play
    </span>
    <cite class='site-header__game-title'>Mass Effect</cite>
    <span class='site-header__description site-header__description--second'>
      Romance and hilarities ensue.
    </span>
  </h2>
</header>
